<h1>Sign up!</h1>

<form action="/auth/signup" method="POST">

    <label for="">Enter your username</label>
    <input type="text" name="username" id="">

    <label for="">Enter your password</label>
    <input type="password" name="password">

    <button type="submit">submit</button>
</form>
<a href="/">home</a>